@font-face {
	font-family: Circe;
	src: url('../fonts/circe.woff2');
}
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}
body {
	font-family: 'Circe';
	color: #000000;
	font-size: 14px;
}
.wrapper {
	position: relative;
	overflow: hidden;
}
/* ------------- header ------------- */
/* ------------- header - top ------------- */
.header__top {
	height: 80px;
	background: linear-gradient(270deg, #253859 0%, #395585 49.98%, #253859 100%);
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;
}
.top-header__menu {
	position: relative;
	padding-left: 300px;
	padding-top: 44px;
}
.top-header__list {
	display: flex;
	gap: 0 72px;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	user-select: none;
}
.top-header__link__ico {
	width: 31px;
	height: 22px;
	object-fit: fill;
	object-position: center;
}
.top-header__link {
	position: relative;
	border-bottom: 1px solid #ffffff00;
}
.top-header__link::before {
	content: '';
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 25px;
	height: 20px;
	left: -32px;
	top: 0;
}
.top-header__link:hover {
	border-bottom: 1px solid #ffffffff;
	transition: all 0.4s;
}
.top-header__link:active {
	color: #868686;
	border-bottom: 1px solid #868686;
}
.top-header__link--1::before {
	background-image: url(../images/icons/car.svg);
}
.top-header__link--2::before {
	background-image: url(../images/icons/wallet.svg);
}
.top-header__link--3::before {
	background-image: url(../images/icons/mails.svg);
}
.top-header__link--4::before {
	background-image: url(../images/icons/question.svg);
}
.top-header__link--5::before {
	background-image: url(../images/icons/email-icon.svg);
}
.header__logo {
	position: absolute;
	width: 240px;
	height: 110px;
	left: 0px;
	top: 20px;
	cursor: pointer;
	z-index: 4;
}
/* ------------- header - bottom ------------- */
.bottom-header__menu {
	display: flex;
	align-items: center;
	min-width: 930px;
	padding-left: 270px;
	background-color: #ffffff;
	color: #000000;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 1;
}
.bottom-header__list {
	display: flex;
	gap: 0 20px;
	margin-right: 25px;
	padding-top: 3px;
	user-select: none;
}
.bottom-header__item {
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #00000000;
	transition: all 0.4s;
}
.bottom-header__item:hover {
	border-bottom: 1px solid #000000ff;
	transition: all 0.4s;
}
.bottom-header__item:active {
	color: #858585;
	border-bottom: 1px solid #858585;
}
.header__button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 207px;
	min-height: 45px;
	background-color: #ededed;
	font-size: 11px;
	letter-spacing: 0.07em;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 5px 5px 5px 0px;
	padding: 2px 10px;
	cursor: pointer;
	border: none;
	outline: none;
	user-select: none;
}
.header__button:hover {
	background-color: #c7c7c7;
	transition: all 0.4s;
}
.header__button:active {
	background-color: #c7c7c755;
}
.important {
	flex-basis: 160px;
	padding: 2px 18px;
	background-color: #cc2e37;
	color: #ffffff;
}
.important:hover {
	background-color: #ff404a;
	transition: all 0.4s;
}
.important:active {
	background-color: #cc2e37;
}
.phone__box {
	flex-shrink: 0;
	flex-basis: 125px;
	margin-left: auto;
	margin-right: 15px;
	text-align: right;
	padding-top: 3px;
}
.phone {
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	border-bottom: 1px solid #00000000;
	z-index: 2;
}

.phone::before {
	content: '';
	position: absolute;
	background: url('../images/icons/phone.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 25px;
	height: 20px;
	left: -24px;
	top: 0;
	z-index: 2;
}
.phone__ico {
	width: 24px;
	height: 24px;
	object-fit: fill;
}
.phone:hover {
	border-bottom: 1px solid #000000ff;
	transition: all 0.4s;
}
.phone:active {
	color: #000000;
	border-bottom: 1px solid #858585;
}
/* ------------------- main ------------------- */
.promo {
	padding-top: 90px;
	background-color: #f8f8f8;
	padding-bottom: 35px;
}

.inner-promo__first {
	display: flex;
	gap: 30px 30px;
	margin-bottom: 30px;
}
.promo__column {
	flex-basis: 370px;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 30px 30px;
}
.promo-main {
	flex-basis: 770px;
	height: 611px;
	overflow: hidden;
}
.inner__slider {
	position: relative;
	flex-basis: 770px;
}
.promo-main__img {
	width: 150%;
	height: auto;
	object-fit: cover;
	object-position: -250px -120px;
}
.promo-main__desc {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	bottom: 35px;
	right: 35px;
	width: 300px;
	height: 346px;
	padding: 35px;
	background-color: #fff;
	line-height: 1.1;
}
.promo-main__title {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}
.promo-main__text {
	font-weight: 300;
	font-size: 20px;
}
.promo-main__link {
	display: flex;
	border: 1px solid #000000;
	width: 196px;
	height: 50px;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.promo-main__link:hover {
	background-color: #c7c7c7;
	transition: all 0.4s;
}
.promo-main__link:active {
	background-color: #dfdfdf;
	transition: all 0.4s;
}
.promo-main__link span {
	padding: 0px 10px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.09em;
}
.promo-main__control {
	z-index: 100;
	position: absolute;
	width: 35px;
	height: 35px;
	padding: 10px;
	background-color: #253859e0;
	cursor: pointer;
}
.promo-main__control:hover {
	background-color: #385588e0;
}
.promo-main__arrow {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 0px 0px;
	user-select: none;
}
.promo-main__control-left {
	top: 230px;
	right: 35px;
}
.promo-main__control-right {
	top: 230px;
	right: 0px;
}
.promo-sub {
	position: relative;
	flex-basis: 290px;
	max-width: 370px;
	overflow: hidden;
}
.promo-sub__desc {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	bottom: 35px;
	left: 35px;
	width: 170px;
	height: 160px;
	padding: 30px;
	background-color: #fff;
	line-height: 1.2;
}
.promo-sub__img {
	width: 150%;
	height: auto;
	object-fit: cover;
	object-position: 0px -60px;
}

.promo-sub__title {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: underline transparent;
}
.promo-sub__title a {
	text-decoration: inherit;
}
.promo-sub__title:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.promo-sub__link {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.09em;
	text-decoration: underline;
	text-transform: uppercase;
	text-decoration: underline transparent;
}
.promo-sub__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.promo-sub__desc--top {
	bottom: none;
	top: 30px;
}

.promo-second {
	display: flex;
	gap: 0 30px;
}
.promo-second__short {
	position: relative;
	flex-basis: 370px;
	height: 290px;
	overflow: hidden;
}
.promo-second__img {
	width: 130%;
	height: auto;
	object-fit: cover;
	object-position: 0px -50px;
}
.promo-second__desc {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 170px;
	height: 100px;
	padding: 30px;
	background-color: #fff;
	line-height: 1.2;
}
.promo-second__desc-long {
	width: 300px;
	bottom: none;
	top: 30px;
}

.promo-second__title {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: underline transparent;
}
.promo-second__title a {
	text-decoration: inherit;
}
.promo-second__title:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.promo-second__long {
	position: relative;
	flex-basis: 770px;
	height: 290px;
	overflow: hidden;
}
.promo-second__img-long {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0px 0px;
}

/* ------------------- promo-slider  ------------------- */
.promo__carousel {
	position: relative;
	padding: 0rem;
	flex-basis: 770px;
}
.promo__slider {
	width: 100%;
	object-fit: none;
	object-position: -200px 0px;
	max-height: 611px;
	padding: 0rem;
}

.carousel__button.is-next {
	display: none;
}
.carousel__button.is-prev {
	display: none;
}
.content {
	width: 770px;
}

/* ------------------- advantages  ------------------- */
.advantages__inner {
	display: flex;
	justify-content: space-evenly;
	gap: 0 5px;
	padding: 25px 0px;
}
.advantages__card {
	flex-basis: 215px;
	min-height: 210px;
	padding: 15px;
	text-align: center;
}
.advantages__img {
	width: 65px;
	height: 65px;
	object-fit: fill;
	margin-bottom: 10px;
}
.advantages__title {
	font-size: 12px;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-decoration: underline transparent;
}
.advantages__text {
	font-size: 15px;
	margin-bottom: 5px;
}
.advantages__card:hover .advantages__title {
	text-decoration: underline;
	transition: all 0.7s;
}
.advantages__card:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
	transition: all 0.7s;
}
/* ------------------- about  ------------------- */

.about {
	margin-bottom: 380px;
}
.about__inner {
	padding-top: 120px;
}
.about__bg {
	width: 100%;
	height: 365px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../images/about-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}
.title {
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	padding: 4px 15px 0px 15px;
	border-right: 5px solid #e9c04a;
	border-left: 5px solid #e9c04a;
}
.about__title {
	margin-bottom: 120px;
}
.about__box-up {
	position: relative;
	background-color: #f8f8f8;
}
.about__image {
	position: absolute;
	width: 535px;
	height: 350px;
	left: 35px;
	top: 35px;
	object-fit: cover;
	object-position: center center;
}
.about__text {
	text-align: left;
}
.about__text--reg {
	height: 210px;
	padding: 75px 35px 10px 605px;
	font-size: 18px;
	font-weight: 400;
}
.about__text--light {
	padding: 35px 35px 10px 605px;
	font-size: 16px;
	font-weight: 300;
}
.about__box-down {
	height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 275px;
	height: 50px;
	border: 1px solid #000000;
	font-size: 12px;
	letter-spacing: 0.08em;
	margin-left: 605px;
	user-select: none;
}
.about__link:hover {
	background-color: #c7c7c7;
	transition: all 0.4s;
}
.about__link:active {
	background-color: #dfdfdf;
	transition: all 0.4s;
}
/* ------------------- advice  ------------------- */
.advice {
	text-align: center;
}
.advice__title {
	color: #000000;
	margin-bottom: 60px;
}

.slider {
	position: relative;
	width: 100%;
}
.advice__slider {
	margin-bottom: 70px;
}
.slider__control {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 300px;
	background-color: #888888;
	cursor: pointer;
	user-select: none;
}
.slider__control:hover {
	background-color: #616161;
	transition: all 0.5s;
}
.slider__control:active {
	background-color: #2e45ad;
}
.slider__control-left {
	top: calc(50% - 175px);
	left: -50px;
}
.slider__control-right {
	top: calc(50% - 175px);
	right: -50px;
}
.slider__arrow {
	width: 17px;
	height: 17px;
	object-fit: fill;
	object-position: 0px 0px;
}
.product__carousel {
	width: 100%;
	height: 700px;
}
.slider__item {
	position: relative;
	width: 370px;
	height: 700px;
	padding: 0px;
	margin-right: 30px;
	z-index: 2;
}
.slider__button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.3em;
	color: #ffffff;
	padding: 5px;
	width: 330px;
	height: 50px;
	left: 20px;
	bottom: 70px;
	background-color: #253859e0;
	z-index: 4;
	transition: ease-in-out 0.4s;
	user-select: none;
}
.slider__item:hover .slider__button {
	bottom: 20px;
	transition: ease-in-out 0.4s;
}
.slider__button:hover {
	background-color: #385588e0;
	transition: ease-in-out 0.4s;
}
.slider__image {
	position: relative;
	width: 370px;
	height: 650px;
	overflow: hidden;
	margin-right: 30px;
}
.slider__img {
	width: auto;
	height: 125%;
	object-fit: cover;
	object-position: -50px -17px;
}
.slider__post {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	bottom: 70px;
	left: 20px;
	width: 330px;
	height: 180px;
	background-color: #f8f8f8;
	padding: 35px 30px 25px 30px;
	z-index: 5;
}
.slider__title {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #9b9b9b;
	margin-bottom: 5px;
}
.slider__text {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 5px;
}
.slider__text span {
	display: block;
	font-size: 12px;
	color: #9b9b9b;
}
.slider__price {
	position: relative;
	font-size: 24px;
	color: #b98d0f;
}
.slider__price-old {
	position: absolute;
	top: 2px;
	left: -65px;
	font-size: 18px;
	text-decoration: line-through;
	color: #9b9b9b;
}
.promo-main__control:hover {
	background-color: #385588e0;
}
/* ------------------- demo  ------------------- */
.demo {
	display: flex;
	margin-bottom: 70px;
}
.demo__hall {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	font-weight: 300;
	text-transform: uppercase;
	background: url('../images/demo.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 60px 50px 50px;
	height: 350px;
	line-height: 1.7;
	letter-spacing: 0.06em;
}
.demo__subtitle {
	font-size: 14px;
}
.demo__title {
	font-size: 24px;
}
.demo__text {
	font-size: 15px;
	font-weight: 400;
	text-transform: none;
	text-align: center;
}
.demo__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #ffffff;
	user-select: none;
}
.demo__btn:hover {
	background-color: #ffffff67;
	transition: all 0.5s;
}
.demo__service {
	flex-basis: 50%;
}
.demo__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 350px;
	padding: 70px 100px 70px;
	background-color: #e4e4e4;
	line-height: 1.7;
	min-width: 438px;
}
/* ------------------- discounts  ------------------- */

.discounts {
	text-align: center;
	margin-bottom: 60px;
}
.discounts__title {
	color: #000000;
	margin-bottom: 50px;
}
.critical {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	padding: 5px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0em;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	user-select: none;
}
.critical__top {
	top: 20px;
	left: 20px;
}
.critical--red {
	color: #ffffff;
	background-color: #c2242d;
}
.critical__down {
	top: 90px;
	left: 20px;
}
/* ------------------- articles  ------------------- */
.articles {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #f8f8f8;
	text-align: center;
}
.articles__title {
	color: #000000;
	margin-bottom: 50px;
}
.articles__inner {
	display: flex;
	justify-content: space-between;
	gap: 0 30px;
	margin-bottom: 50px;
}
.articles__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	height: 345px;
	padding: 37px;
}
.articles__block-left {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../images/about-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #ffffff;
}
.articles__block-right {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../images/articles2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	color: #000000;
}
.articles__box {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffffe5;
	padding: 5px;
}
.articles__subtitle {
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 30px;
}
.articles__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000000;
	width: 170px;
	height: 50px;
	font-size: 14px;
	padding: 5px;
	user-select: none;
}
.articles__btn--white {
	border: 1px solid #ffffff;
}
.articles__btn:hover {
	background-color: #c7c7c7;
	transition: all 0.5s;
}
.articles__link {
	font-weight: 700;
	text-decoration: underline;
	letter-spacing: 0.08em;
}
.articles__link:hover {
	color: #4d4d4d;
	transition: all 0.5s;
}
/* ------------------- innovation  ------------------- */
.innovation {
	padding-top: 70px;
	text-align: center;
	margin-bottom: 60px;
}
.innovation__title {
	color: #000000;
	margin-bottom: 50px;
}
/* ------------------- sitemap  ------------------- */
.sitemap {
	background-color: #f8f8f8;
	padding-bottom: 30px;
}
.sitemap__block-up {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 35px;
}
.sitemap__logo {
	flex-basis: 300px;
}
.sitemap__logo-img {
	width: 180px;
	height: 90px;
	object-fit: cover;
}
.sitemap__menu {
	flex-basis: 870px;
}
.sitemap__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	gap: 0 5px;
	user-select: none;
}
.sitemap__link {
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline transparent;
}
.sitemap__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.sitemap__link--red {
	color: #c2242d;
}
.sitemap__block-down {
	display: flex;
}
.contacts-sitemap {
	flex-basis: 300px;
	font-size: 13px;
}
.contacts-sitemap__box {
	margin-bottom: 30px;
}
.contacts-sitemap__list {
	position: relative;
	padding-left: 30px;
}
.contacts-sitemap__list:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 5px;
	background: url('../images/icons/phone-icon.png');
	background-size: contain;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.contacts-sitemap__item {
	margin-bottom: 10px;
}
.contacts-sitemap__link {
	text-decoration: underline transparent;
}
.contacts-sitemap__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.contacts-sitemap__address {
	position: relative;
	display: block;
	width: 145px;
	padding-left: 30px;
	line-height: 1.3;
	text-decoration: underline transparent;
}
.contacts-sitemap__address:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.contacts-sitemap__address:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 5px;
	background: url('../images/icons/placeholde.png');
	background-size: contain;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.products-sitemap {
	flex-basis: 770px;
	display: flex;
	justify-content: space-between;
	gap: 0 10px;
}
.products-sitemap__item {
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 15px;
	color: #848484;
	letter-spacing: 0.06em;
}
.products-sitemap__item:first-child {
	font-size: 15px;
	font-weight: 300;
	color: #000000;
}
.products-sitemap__item:first-child > a {
	cursor: auto;
}
.products-sitemap__item:first-child > a:hover {
	text-decoration: underline transparent;
}
.products-sitemap__link {
	text-decoration: underline transparent;
}
.products-sitemap__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
/* ------------------- footer  ------------------- */
.footer__map {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 145px;
	background: url('../images/map.jpg');
	background-size: 106% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.map-footer__link {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #ffffff;
	width: 190px;
	height: 40px;
	padding-left: 20px;
	user-select: none;
}
.map-footer__link::after {
	content: '';
	position: absolute;
	top: 13px;
	right: 20px;
	width: 15px;
	height: 15px;
	background: url('../images/icons/arrow-point-to-right.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.map-footer__link:hover {
	background: #e0e0e0;
	transition: all 0.4s;
}
.footer__copyright {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	color: #555555;
}
.copyright-footer__link {
	text-decoration: underline transparent;
}
.copyright-footer__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
/* ------------------- navigation  ------------------- */
.navigation {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: #ffffff;
	right: -70px;
	z-index: 100;
}
.navigation__link {
	position: relative;
	display: flex;
	width: 120px;
	height: 50px;
	margin-bottom: 2px;
	background-color: #012c75c5;
	cursor: pointer;
	right: 0px;
	transition: ease-in-out 0.4s;
}
.navigation__link:hover {
	right: 70px;
	transition: ease-in-out 0.5s;
}
.navigation__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}
.navigation__img {
	display: block;
	object-fit: fill;
	width: 25px;
	height: 25px;
}
.navigation__title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	width: 70px;
	height: 50px;
	font-size: 12px;
}
.invisible {
	display: none;
}
/* ------------------- page measurements  ------------------- */
/* ------------------- promo-measurements  ------------------- */
.promo-measure__inner {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../images/sewing.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	padding-top: 80px;
}
.breadcrumbs {
	color: #ffffff;
}
.breadcrumbs__link {
	margin-right: 5px;
	text-decoration: underline transparent;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
	transition: all 0.7s;
}
.breadcrumbs__points {
	margin-right: 5px;
}
.measurements__breadcrumbs {
	margin-bottom: 65px;
}
.title-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	width: 370px;
	height: 70px;
	margin: 0 auto;
}
.title-page {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding-top: 0.2em;
}
/* ------------------- measuring  ------------------- */
.measuring {
	padding-top: 60px;
	padding-bottom: 90px;
	text-align: center;
}
.measuring__title {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.measuring__subtitle {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
	max-width: 610px;
}
.form-measuring {
}
.form-measuring__block {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 50px 50px;
	margin-bottom: 50px;
}
.form-measuring__box {
	display: flex;
	flex: 0 1 200px;
	gap: 0 20px;
	align-items: flex-start;
}
.form-measuring__img {
	flex-basis: 0 0 100px;
	height: 180px;
	object-fit: cover;
}
.form-measuring__img--long {
	height: 345px;
}
.form-measuring__box-input {
	text-align: left;
	flex: 0 0 130px;
	margin-top: 25px;
}
.form-measuring__label {
	text-align: left;
	flex: 0 0 130px;
	font-size: 12px;
	text-transform: uppercase;
}
.form-measuring__label--block {
	display: block;
}
.form-measuring__input {
	width: 80px;
	height: 50px;
	font-size: 18px;
	margin-right: 8px;
	margin-top: 8px;
	padding: 5px 10px;
	text-align: left;
	border: 2px solid #919191;
	outline: none;
}
.form-measuring__input:focus {
	box-shadow: 0 0 3px 2px #0247be;
}
.form-measuring__dimension {
	font-size: 16px;
	text-transform: none;
}
.form-measuring__error {
	padding: 5px 0;
	color: red;
	margin-bottom: 20px;
}
/* ------------------- measuring-contacts  ------------------- */
.contacts-measuring {
	width: 100%;
	max-width: 870px;
	min-height: 515px;
	padding: 50px 90px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 12px;
	line-height: 1.1;
	letter-spacing: 0.01em;
	background: linear-gradient(270deg, #253859 0%, #395585 49.98%, #253859 100%);
}
.contacts-measuring__block {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	width: 100%;
}
.contacts-measuring__input-box {
	flex: 0 1 370px;
	min-width: 290px;
	margin-bottom: 10px;
}
.contacts-measuring__checkbox-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
.contacts-measuring__checkbox {
	margin-right: 10px;
}
.contacts-measuring__label {
	flex: 0 1 260px;
	min-width: 200px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.contacts-measuring__input {
	font-family: Circe;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0.04em;
	width: 100%;
	height: 50px;
	outline: none;
	border: 1px solid #8e9db8;
	padding: 10px 15px;
	background-color: transparent;
}
.contacts-measuring__input::placeholder {
	font-family: Circe;
	font-size: 12px;
	color: #ffffff;
}
.textarea {
	height: auto;
}
.contacts-measuring__input:focus {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.75);
}
.contacts-measuring__input-file {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	line-height: 0px;
}
.contacts-measuring__file-box {
	flex: 0 1 185px;
	margin-right: 185px;
}
.contacts-measuring__button-file {
	width: 100%;
	max-width: 185px;
	height: 50px;
	border: 1px dashed #8e9db8;
	color: #ffffff;
	background-color: transparent;
	letter-spacing: 0.05em;
	padding: 10px;
	cursor: pointer;
}
.contacts-measuring__button-file:hover {
	border: 1px dashed #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 0.7s;
}
.contacts-measuring__consent-link {
	font-family: Circe;
	font-size: 14px;
	line-height: 1.2;
	padding-top: 4px;
	color: #ffffff;
	text-decoration: underline transparent;
}
.contacts-measuring__consent-link span {
	text-decoration: underline;
}
.contacts-measuring__consent-link:hover {
	text-decoration: underline;
	transition: all 0.4s;
}
.contacts-measuring__button {
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	height: 55px;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	background-color: #cc2e37;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.contacts-measuring__button:hover {
	background-color: #ff404a;
	transition: all 0.4s;
}
.contacts-measuring__button:active {
	background-color: #cc2e37;
}
.contacts-measuring__error {
	left: 320px;
	color: red;
	text-align: left;
}
